.card {
      background: rgba(255, 59, 48, 0.05);
      border: none;
      padding: 32px 40px !important;
      color: #3C4959;
      min-height: 100%;
      font-size: 14px;
      padding-bottom: 0 !important;

      &.green{
            background: rgba(231, 248, 239, 0.50);

      }

      &.lightCard {
        background: rgba(255, 236, 235, 0.2);
        padding-bottom: 0 !important;
        position: relative;
        justify-content: space-between;
      }

      &.greenLight {
            background: rgba(231, 248, 239, 0.20);

        padding-bottom: 0 !important;
        position: relative;
        .imgBox {
          display: flex;
          justify-content: flex-end;
          right: -40px;
        }
      }

      h4{
            margin-bottom: 12px !important;
      }
}


.imgBox{
     position: relative;
     right: 40px;
      img{
            width: 300px;
            height: 200px;
            object-fit: contain;
            
      }
}