@use 'fonts';
@use 'keyframes';
@use 'typography';
@use 'button';
@use 'form';
@use 'breakpoints' as bp;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #FFFFFF;
      color: #3C4959;
      font-family: 'General Sans', system-ui, -apple-system, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.55;
}

#wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;

}

.imgBox {
      width: 100%;

      img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 12px;
      }
     
}

ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &.list {
            list-style: disc;
            list-style-position: inside;
            margin-bottom: 18px;
      }

      &.check-list{
            list-style: none;
            li{
                  position: relative;
                  padding-bottom: 18px;
                  &:before{
                        content:"";
                        display: inline-block;
                        vertical-align: middle;
                        background-image: url(../assets/Icons/check.svg);
                        background-size: 22px;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 38px;
                        height: 32px;
                        
                  }
            }
      }
}

a {
      color: #011632;
      text-decoration: none;
      &:hover{
            color: #F0B800;
      }
}

.section {
      padding: 40px 0;
      position: relative;
      @include bp.below(bp.$bp-md) {
            padding: 20px 0;
      }

      &.bg {
            background-color: rgba(106, 90, 224, 0.06);
            margin:55px 0;
            padding: 80px 0;
            @include bp.below(bp.$bp-md) {
                  padding: 40px 0;
                  margin: 20px 0;
            }

      }

      &.purpleBg{
            background-color: #6D2ECC;
            padding: 80px 0;
            margin: 55px 0;
            @include bp.below(bp.$bp-md) {
                  padding: 40px 0;
                  margin: 20px 0;
            }
            [class*="sectionHeading"]{
                  color: #fff;
                  h2{
                        color: #fff;
                  }
            }
            &:before{
                  position: absolute;
                  content: "";
                  inset: 0;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 351 289' fill='none'%3E%3Cpath opacity='0.16' fill='%23FFAE00' stroke='%236D2ECC' stroke-width='10' d='M239.798 230.134C234.988 231.5 234.988 231.499 234.987 231.497C234.987 231.495 234.986 231.493 234.985 231.49C234.984 231.484 234.98 231.475 234.977 231.462C234.969 231.436 234.959 231.398 234.944 231.348C234.916 231.246 234.873 231.095 234.816 230.896C234.703 230.497 234.534 229.905 234.314 229.132C233.875 227.586 233.231 225.318 232.408 222.427C230.763 216.645 228.408 208.371 225.568 198.406C219.889 178.476 212.272 151.78 204.518 124.719C188.949 70.3889 172.978 15.1217 170.875 9.49512C169.88 6.8336 166.066 4.69792 159.917 5.03125C157.114 5.18326 154.457 5.87028 152.476 6.85547C150.381 7.89732 149.713 8.91094 149.576 9.32129C148.113 13.7231 138.537 42.8318 129.167 71.1768C124.484 85.341 119.856 99.3087 116.323 109.884C114.557 115.17 113.063 119.616 111.972 122.818C111.427 124.417 110.979 125.719 110.646 126.664C110.389 127.393 110.05 128.356 109.8 128.858C108.451 131.565 106.086 132.951 104.318 133.637C102.531 134.331 100.736 134.562 99.4727 134.562H12.6826C8.905 136.326 5.73747 140.404 5.11133 144.926C4.54477 149.018 6.00853 154.149 13.0049 158.319H110.896C117.706 157.565 121.377 156.331 123.787 154.41C126.143 152.533 128.036 149.397 129.758 142.949L129.787 142.841L129.821 142.733L156.018 59.8418L161.131 43.6631L165.608 60.0293L160.785 61.3486C165.608 60.0293 165.609 60.0307 165.609 60.0322C165.61 60.0338 165.611 60.0363 165.611 60.0391C165.613 60.0454 165.616 60.0549 165.619 60.0674C165.626 60.0926 165.636 60.1306 165.649 60.1807C165.677 60.2811 165.718 60.4311 165.772 60.6289C165.881 61.0247 166.042 61.6121 166.252 62.3789C166.672 63.9126 167.288 66.1637 168.074 69.0322C169.647 74.7693 171.898 82.9772 174.613 92.8584C180.044 112.621 187.331 139.077 194.755 165.854C202.179 192.632 209.738 219.721 215.714 240.755C218.702 251.273 221.291 260.264 223.268 266.938C225.301 273.806 226.574 277.826 226.978 278.771C227.49 279.971 228.664 281.235 230.687 282.267C232.694 283.29 235.245 283.92 237.883 283.993C243.532 284.15 247.326 281.922 248.424 278.984C250.678 272.954 270.485 227.082 289.602 182.996C299.187 160.891 308.635 139.153 315.687 122.941C319.212 114.836 322.139 108.112 324.185 103.414C325.207 101.065 326.01 99.2219 326.557 97.9668C326.83 97.3395 327.04 96.859 327.181 96.5352C327.251 96.3733 327.304 96.2502 327.34 96.168C327.358 96.1268 327.372 96.0959 327.381 96.0752C327.385 96.0649 327.388 96.057 327.391 96.0518C327.392 96.0492 327.393 96.0472 327.394 96.0459C327.4 96.0473 327.564 96.1181 331.978 98.041L327.395 96.0439L333.148 82.8359L336.813 96.7695L350.016 146.966C351.932 151.21 353.516 153.26 355.242 154.469C356.998 155.698 359.564 156.522 364.482 156.852H450.637C454.312 156.852 456.747 155.463 458.342 153.578C460.029 151.584 461 148.743 461 145.707C461 142.671 460.029 139.831 458.342 137.837C456.747 135.952 454.312 134.563 450.637 134.562H376.015C372.656 134.562 370.08 132.825 368.386 130.608C366.852 128.603 365.92 126.098 365.344 123.59C365.31 123.492 365.267 123.365 365.215 123.212C365.075 122.801 364.868 122.197 364.603 121.423C364.072 119.875 363.307 117.647 362.371 114.934C360.499 109.505 357.941 102.131 355.202 94.3467C349.685 78.6665 343.543 61.6486 340.716 55.2686C338.881 51.1265 334.669 49.1417 329.661 49.4287C324.402 49.7302 320.351 52.416 319.158 55.207C316.969 60.3317 298.285 104.538 280.139 147.486C271.068 168.955 262.134 190.104 255.468 205.885C252.135 213.775 249.368 220.323 247.436 224.899C246.469 227.187 245.711 228.982 245.194 230.205C244.936 230.816 244.739 231.285 244.605 231.601C244.539 231.758 244.488 231.878 244.454 231.958C244.437 231.998 244.425 232.029 244.416 232.049C244.412 232.059 244.408 232.066 244.406 232.071C244.405 232.074 244.405 232.076 244.404 232.077C244.403 232.078 244.337 232.051 239.798 230.134ZM239.798 230.134L244.403 232.079L238.873 245.173L234.987 231.5L239.798 230.134Z'/%3E%3C/svg%3E");
                  background-repeat: no-repeat;
                  background-size:  300px;
                  background-position: right 150px;
                  transform-origin: right center;
                  animation: heartbeat 1.2s ease-in-out infinite;
                  pointer-events: none;
            }
      }

      &.contactUs{
            &:before{
                  position: absolute;
                  content: "";
                  inset: 0;
                  height: 380px;
                  width: 100%;
                  background-color: #F6F5FD;
            }

            h1{
                  text-align: center;
                  max-width: max-content;
                  margin: auto;
                  margin-bottom: 55px;
            }
      }

}

.services{
      margin-bottom: 28px;
      &:last-child{
            margin-bottom: 0;
      }
}

.same-height{
      align-items: center;
      [class*="col-"]{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 12px;
            @include bp.below(bp.$bp-md) {
                  display: block;
                  &:first-child{
                        margin-bottom: 20px;
                  }
            }
      }
      &:last-child{
            margin-bottom: 0;
      }
}



.card {
      padding: 20px !important;
      border-radius: 16px;
      min-height: 100%;

      &.ImageCard{
            padding: 0 !important;
            .textBox{
                  padding: 16px 20px;
                  display: flex;
                  flex-direction: column;
                  gap: 4px;
                  small{
                        font-size: 12px;
                        font-weight: 300;
                  }
            }
      }

      &.contactUsCard{
            padding: 40px 30px !important;
            @include bp.below(bp.$bp-lg) {
                  padding: 20px 15px !important;
            }
      }
      &.purpleBg{
            background: #C09CF3;
            color: #fff;
            border: none !important;
            padding: 30px 20px !important;
            h4{
                  color: #fff;
            }
      }
}

.badge{
      padding: 8px 11px;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;

      &.purple{
            background-color: #4B2C78;
            max-width: max-content;

      }

      &.light{
          background-color: #FFF;
          color: #C09CF3;
          padding: 12px 16px;
          font-weight: 600;
          border-radius: 6px;

      }
}

.iconAnimation{
      animation: iconAnimation 3s ease-in-out infinite alternate;
}