@use 'fonts';
@use 'keyframes';
@use 'typography';
@use 'button';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #FFFFFF;
      color: #3C4959;
      font-family: 'General Sans', system-ui, -apple-system, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.55;
}

#wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;

}

.imgBox {
      width: 100%;

      img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 12px;
      }
     
}

ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &.list {
            list-style: disc;
            list-style-position: inside;
            margin-bottom: 18px;
      }
}

a {
      color: #011632;
      text-decoration: none;
}

.section {
      padding: 55px 0;

      &.bg {
            background-color: rgba(106, 90, 224, 0.06);
            margin: 55px 0\;
      }
}

.services{
      margin-bottom: 100px;
}

.same-height{
      align-items: center;
      [class*="col-"]{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 12px;
      }
      &:last-child{
            margin-bottom: 0;
      }
}



.card {
      padding: 20px !important;
      border-radius: 16px;
      min-height: 100%;
}