@use '../../styles/breakpoints' as bp;
.cta {
      background-color: #4B2C79;
      position: relative;
      z-index: 1;
      padding: 80px;
      margin-top: 40px;
      @include bp.below(bp.$bp-md) {
            padding: 40px 0;
            margin-top: 20px;
      }
      &:after,
      &:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 200px;
        height: 200px;
        background-image: url("../../assets/images/cta1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        animation: ctaFloat 4s ease-in-out infinite;
        z-index: -1;
        @include bp.below(bp.$bp-md) {
          width: 150px;
          height: 150px;
        }
      }

      &:before {
        background-image: url("../../assets/images/cta2.svg");
        left: unset;
        right: 0;
        animation-delay: 1s;
      }
      .content {
            max-width: 65%;
            margin: auto;
            text-align: center;
            color: #FFF;
            min-height: 200px;
            align-content: center;
            @include bp.below(bp.$bp-md) {
                  max-width: 100%;
            }

            h2 {
                  color: #fff;
                  font-weight: 600;

                  span {
                        color: #F0B800;
                  }
            }

            p {
                  max-width: 480px;
                  margin: 0 auto 24px auto;
            }
      }
}

.buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;

      button {
            min-width: 200px;

      }
}

@keyframes ctaFloat {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
    }