@use "../../styles/breakpoints" as bp;

$line-color: #6D2ECC;
$line-inset: 140px;
$step-gap: 12px;
$content-max: 480px;

.timeline {
      position: relative;

      &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: $line-inset;
            bottom: $line-inset;
            width: 2px;
            transform: translateX(-1px);
            background: repeating-linear-gradient(to bottom,
                        $line-color,
                        $line-color 4px,
                        transparent 4px,
                        transparent 8px);
            z-index: 0;
      }

      @include bp.below(bp.$bp-md) {
            &::before {
                  display: none;
            }
      }
}

.stepRow {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      gap: 0 $step-gap;
      align-items: center;
      position: relative;
      margin-bottom: 40px;

      &:last-child {
            margin-bottom: 0;
      }

      @include bp.below(bp.$bp-lg) {
            gap: 0 8px;
            margin-bottom: 32px;
      }

      @include bp.below(bp.$bp-md) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
            margin-bottom: 40px;
            text-align: center;
            justify-items: center;
      }
}

.stepRow:nth-child(odd) {
      @include bp.below(bp.$bp-md) {
            .stepLeft {
                  order: 1;
            }
            .stepRight {
                  order: 2;
            }
      }
}

.stepRow:nth-child(even) {
      @include bp.below(bp.$bp-md) {
            .stepLeft {
                  order: 2;
            }
            .stepRight {
                  order: 1;
            }
      }
}

.stepLeft,
.stepRight {
      min-width: 0;
      display: flex;
      align-items: center;

      >* {
            max-width: 100%;
      }
}

.stepLeft {
      justify-content: flex-end;

      @include bp.below(bp.$bp-md) {
            justify-content: center;
            padding-right: 0;
      }
}

.stepRight {
      text-align: left;
      padding-left: $step-gap;

      @include bp.below(bp.$bp-md) {
            padding-left: 0;
            text-align: center;
      }
}

.stepCenter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;

      @include bp.below(bp.$bp-md) {
            display: none;
      }
}

.stepNumber {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $line-color;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
}

.stepTextBlock {
      max-width: $content-max;

      @include bp.below(bp.$bp-md) {
            text-align: center;
      }
}

.stepImage {
      width: 500px;

      @include bp.below(bp.$bp-lg) {
            width: 100%;
      }
      img {
            width: 100%;
            height: auto;
            display: block;
      }
}