.sectionHeading {
      text-align: center;
      max-width: 90%;
      margin: 0 auto 50px auto;

      h2 {
            display: inline-block;
            font-size: 42px;
            font-weight: 500;
      }
}