.banner{
      padding: 100px 0 0;
       p{
            max-width: 80%;
      }
}

.cta{
      display: flex;
      align-items: center;
      gap: 35px;
}

.contactInfo{
      display: flex;
      align-items: center;
      gap: 20px;
      .icon{
            width: 49px;
           img{
            width: 100%;
            height: 49px;
            object-fit: contain;
           }
      }
}