@use '../../styles/breakpoints'as bp;

.banner {
      padding: 100px 0 0;

      @include bp.below(bp.$bp-lg) {
            padding: 40px 0 40px;
      }

      .letterSpacing1{
            letter-spacing: 1px;

      }

      &.customBanner {
            background-color: #F6F5FD;
            padding: 100px 0;
            margin: 20px;
            border-radius: 10px;
            position: relative;
            z-index: 0;

            @include bp.below(bp.$bp-md) {
                  padding: 50px 0;
                  margin: 10px;

            }
      }

      p {
            max-width: 80%;
            @include bp.below(bp.$bp-md) {
                  max-width: 100%;
            }
      }
      &.noImage{
            text-align: center;
            h1{
                  display: inline-block;
            }
            p{
                  margin: auto;
            }

      }
}

.cta {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 35px;

      @include bp.below(bp.$bp-md) {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 18px;
      }

      button {
            min-width: 160px;
      }

      &.otherBannerCta {
            gap: 22px;
      }
}

.contactInfo {
      display: flex;
      align-items: center;
      gap: 20px;

      .icon {
            width: 49px;

            img {
                  width: 100%;
                  height: 49px;
                  object-fit: contain;
            }
      }
}

.otherBanner {
      position: relative;
      z-index: -1;
      padding-left: 100px;
      padding-bottom: 25px;

      &:after {
            position: absolute;
            content: "";
            width: 200px;
            height: 120px;
            background-image: url("../../assets/images/cer1.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            bottom: 0px;
            left: 0px;
            z-index: 1;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 10px;
      }
      &.providerBanner{
            padding-left: 0;
            padding-bottom: 0;
            &:after{
                  display: none;
            }
      }
}

.iconBox {
      display: flex;
      align-items: center;
      gap: 12px;

      p {
            max-width: 100%;
            margin-bottom: 0;

            &:first-child {
                  font-weight: 500;
            }
      }
}

.bannerCard {
      padding: 10px !important;
      padding-right: 50px !important;
      border: 0;
      box-shadow: 0 8.333px 41.667px 0 rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      max-width: 400px;
      position: relative;

      .bannerCardContent {
            display: flex;
            gap: 20px;
            margin-bottom: 10px;
      }
      .linkedinIcon{
            position: absolute;
            top: 10px;
            right: 10px;
            color: #C09CF3;
      }

}