@use '../styles/breakpoints' as bp;

.authLayout {
  min-height: calc(100vh - 48px);
  overflow: hidden;

  padding: 24px;
}

.authRow {
  display: flex;
  min-height: calc(100vh - 48px);
}

.imageCol {
  flex: 0 0 55%;
  min-height: calc(100vh - 48px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.formCol {
  flex: 1 1 45%;
  min-height: calc(100vh - 48px);
  min-width: 0;
  display: flex;
  flex-direction: column;
  background: #fff;

  @include bp.below(bp.$bp-md) {
    flex: 1 1 100%;
  }
}

.formContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding-left: 48px;
  max-width: 580px;

  @include bp.below(bp.$bp-md) {
    padding: 0 24px;
  }
  @include bp.below(bp.$bp-sm) {
    padding: 0;
  }
}
